# the composer lock file
composer.lock

# any "tmp*" file or dir anywhere
*tmp*

# user defined files
user/*
*/user/*

# the external packages installed by Composer, Template Engine or others
vendor/*
*/vendor/*

# the documentation, that is NOT under version-control by default
# this may be commented on the "dev" branch
phpdoc/*

# for developments ...
# this may be commented on the "wip" branch
dev/*
build/*
src.*/*

# Hack to allow keeping an empty directory
!.gitkeep
