<article class="post">
    <header class="post-header">
        <h2 class="post-title">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
    </header>
    <section class="post-excerpt">
        {{ post.excerpt }} <a class="read-more" href="{{ site.baseurl }}{{ post.url }}">&raquo;</a>
    </section>
    <footer class="post-meta">
<!--
        {% if site.author %}
            <img class="author-thumb" src="/assets/images/profile.png" alt="Author's profile picture" nopin="nopin" />
            {{ site.author }}
        {% endif %}
-->
        {% if post.categories.size > 0 %}
        on
            {% for cat in post.categories %}
                <a href="{{ site.baseurl }}/category/{{ cat }}.html">#{{ cat }}</a>
            {% endfor %}
        {% endif %}
        <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
            {{ post.date | date_to_string }}
        </time>
    </footer>
</article>
