---
layout: default
cover: false
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="sources-button icon-link" href="{{ site.homepage }}">Source code</a>
        <a class="issues-button icon-stats" href="{{ site.tracker }}">Bug tracker</a>
        <a class="subscribe-button icon-feed" href="{{ site.baseurl }}/feed.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }}. {% endif %}
                <br /><br />
                <a href='{{ site.baseurl }}/about.html'>About</a>
                &nbsp;//&nbsp;
                <a href='{{ site.baseurl }}/license.html'>License</a>
                &nbsp;//&nbsp;
                <a href='{{ site.baseurl }}/phpdoc/' title="PHP documentation">PHP doc</a>
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>


<main id="content" class="content" role="main">

    {{ content }}

</main>
