---
layout: page_layout
disqus: true
archive: false
post_class: post-template
---

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <section class="post-meta">
            <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
            on
                {% for cat in page.categories %}
                    <a href="{{ site.baseurl }}/category/{{ cat }}.html">#{{ cat }}</a>
                {% endfor %}
            {% endif %}
        </section>
    </header>

    <section class="post-content">
        {{content}}
    </section>

    {% if page.archive %}
    <section class="archive">
        <h5>Archive</h5>
        <ul>
            {% for post in site.posts %}
                <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}

    <footer class="post-footer">
        <!-- If we want to display author's name and bio -->
        {% if site.author %}
            <figure class="author-image">
                <a class="img" href="{{ site.baseurl }}" style="background-image: url({{ site.baseurl }}/assets/images/profile.png)">
                <span class="hidden">{{site.author}}'s Picture</span></a>
            </figure>
            <section class="author">
                <!-- Author Name -->
                <h4> {{ site.author }} </h4>
                <!-- Author Bio -->
                <p>
                    <a href="http://www.ateliers-pierrot.fr/"><strong>Les Ateliers Pierrot</strong></a> is a small house-made workshop for web developments from Paris, France.
                    We build &amp; manage open source packages to help making the world a sexy place ... Our favorite programing language is PHP, we only work under *NIX systems and we usually integrate other great open source projects.
                </p>
                <p>
                    <em>Les Ateliers Pierrot</em> are founded by <em>Pierre Cassat</em> (aka. <a href="http://e-piwi.fr/">@piwi</a>).
                </p>
            </section>
        {% endif %}

        <!-- Share links section -->
        {% include share.html %}

        <!-- Disqus comments -->
        {% if page.disqus %}
            {% include disqus.html %}
        {% endif %}

    </footer>
</article>